{% extends "base_menu.html" %}

{% block content %}
    <h1>Welcome to my Application</h1>

    <p>Here are some apps:
    <ul>
        <li>
            <p><a href="/hello" target="_blank">Hello Stalker</a></p>
        </li>
        <li>
            <p><a href="/polls" target="_blank">A Polls Application</a></p>
        </li>
        <li>
            <p><a href="/autos" target="_blank">Autos CRUD</a></p>
        </li>
        <li>
            <p><a href="/cats" target="_blank">Cats CRUD</a></p>
        </li>
        <li>
            <p><a href="/ads" target="_blank">Ads Application</a></p>
        </li>
    </ul>
    </p>

    <br clear="all"/>
    <p>
        {% if user.is_authenticated %}
            <p>Authenticated as:
            <pre>

                Name: {{ user.get_full_name }}
                Email: {{ user.email }}
                Id: {{ user.id }}
                Type: {% if backends.associated %}GitHub {% else %}Local {% endif %}
            </pre>
            </p>
            <p>You can <a href="/accounts/logout">Logout</a></p>
        {% else %}
            <p>You can <a href="/accounts/login">Login</a> if you like.</p>
        {% endif %}
    </p>
{% endblock %}